<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/ishasethia/IdeaProjects/ProjectForReview/src/test/java/com/test/TestMainCrud.java"><classes><class name="com.test.TestMainCrud"><methods><include name="testByID"/><include name="testByPercentage"/><include name="testOnInsert"/><include name="testOnUpdate"/><include name="testOnDelete"/></methods></class></classes></test></suite>